In [1]:
# Importing necessary libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

### Importing training and Testing dataset

In [2]:
#Importing training dataset
X=pd.read_csv("aps_failure_training_set.csv",na_values=["na"])

In [3]:
# Importing test dataset 
y=pd.read_csv("aps_failure_test_set.csv",na_values=["na"])

In [4]:
# Assigning label data
y_train=X['class']
y_test=y['class']

In [5]:
# Dropping the label  from main dataset
data_train=X.drop( 'class', axis=1)
data_test=y.drop( 'class', axis=1)

In [6]:
# Checking the training set
data_train.head()

,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,76698,NaN,2.130706e+09,280.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1240520.0,493384.0,721044.0,469792.0,339156.0,157956.0,73224.0,0.0,0.0,0.0
1,33058,NaN,0.000000e+00,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,421400.0,178064.0,293306.0,245416.0,133654.0,81140.0,97576.0,1500.0,0.0,0.0
2,41040,NaN,2.280000e+02,100.0,0.0,0.0,0.0,0.0,0.0,0.0,...,277378.0,159812.0,423992.0,409564.0,320746.0,158022.0,95128.0,514.0,0.0,0.0
3,12,0.0,7.000000e+01,66.0,0.0,10.0,0.0,0.0,0.0,318.0,...,240.0,46.0,58.0,44.0,10.0,0.0,0.0,0.0,4.0,32.0
4,60874,NaN,1.368000e+03,458.0,0.0,0.0,0.0,0.0,0.0,0.0,...,622012.0,229790.0,405298.0,347188.0,286954.0,311560.0,433954.0,1218.0,0.0,0.0

In [7]:
# Checking the testing data 
data_test.head()

,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,60,0.0,20.0,12.0,0.0,0.0,0.0,0.0,0.0,2682.0,...,1098.0,138.0,412.0,654.0,78.0,88.0,0.0,0.0,0.0,0.0
1,82,0.0,68.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1068.0,276.0,1620.0,116.0,86.0,462.0,0.0,0.0,0.0,0.0
2,66002,2.0,212.0,112.0,0.0,0.0,0.0,0.0,0.0,199486.0,...,495076.0,380368.0,440134.0,269556.0,1315022.0,153680.0,516.0,0.0,0.0,0.0
3,59816,NaN,1010.0,936.0,0.0,0.0,0.0,0.0,0.0,0.0,...,540820.0,243270.0,483302.0,485332.0,431376.0,210074.0,281662.0,3232.0,0.0,0.0
4,1814,NaN,156.0,140.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7646.0,4144.0,18466.0,49782.0,3176.0,482.0,76.0,0.0,0.0,0.0

In [8]:
# Checking the shape of training dataset
print(data_train.shape)

(60000, 170)

In [9]:
# Checking the shape of testing dataset
print(data_test.shape)

(16000, 170)

In [10]:
# Checking different unique value in class 
y_train.unique() , y_test.unique()

(array(['neg', 'pos'], dtype=object), array(['neg', 'pos'], dtype=object))

In [11]:
#  Total # number of values missing 
y_train.value_counts()

neg    59000
pos     1000
Name: class, dtype: int64

In [12]:
y_test.value_counts()

neg    15625
pos      375
Name: class, dtype: int64

In [13]:
# Replaceing  train class value with 0 and 1
y_train = y_train.replace(regex='neg', value=1)
y_train=y_train.replace(regex='pos', value=0)

In [14]:
y_train.value_counts()

1    59000
0     1000
Name: class, dtype: int64

In [15]:
# Replaceing  train class value with 0 and 1
y_test = y_test.replace(regex='neg', value=1)
y_test = y_test.replace(regex='pos', value=0)

In [16]:
y_test.value_counts()

1    15625
0      375
Name: class, dtype: int64

### Missing Value Treatment for Training and Testing Data

In [17]:
#checking total missing values
data_train.isnull().sum().sum()

850015

In [18]:
# Checking missing values by collumn wises
missing_value_count=data_train.isnull().sum()
missing_value_count

aa_000        0
ab_000    46329
ac_000     3335
ad_000    14861
ae_000     2500
          ...
ee_007      671
ee_008      671
ee_009      671
ef_000     2724
eg_000     2723
Length: 170, dtype: int64

In [19]:
# Checking the missing in train data and sort them from higher to lower
def missing(df):
    print (round((df.isnull().sum() * 100/ len(df)),2).sort_values(ascending=False))
missing(data_train)

br_000    82.11
bq_000    81.20
bp_000    79.57
cr_000    77.22
bo_000    77.22
          ...
ci_000     0.56
cj_000     0.56
ck_000     0.56
bt_000     0.28
aa_000     0.00
Length: 170, dtype: float64

In [20]:
# Dropping the missing value columns  
def remove_nan(df, threshold):
    percentage_null = df.isnull().sum() / len(df)
    missing_features = percentage_null[percentage_null > threshold].index
    data=df.drop(missing_features, axis=1, inplace=True)
    return data

In [21]:
# Remove nan value over 35% threshold from train data 
remove_nan(data_train,.35)

In [22]:
# Checking the shape after remving nan values
data_train.shape

(60000, 160)

In [23]:
# Checking the missing in test data and sort them from higher to lower
missing(data_test)

br_000    82.06
bq_000    81.13
bp_000    79.51
bo_000    77.35
cr_000    77.27
          ...
ci_000     0.54
cj_000     0.54
ck_000     0.54
bt_000     0.18
aa_000     0.00
Length: 170, dtype: float64

In [24]:
# Remove nan value over 35% threshold from test data 
remove_nan(data_test,.35)

In [25]:
# Checking the shape after remving nan value
data_test.shape

(16000, 160)

### Taking Care of Missing values

In [26]:
# Cleaning missing data Using sklearn library 
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(data_train)
data_train = pd.DataFrame(imputer.transform(data_train), columns=data_train.columns)
data_test = pd.DataFrame(imputer.transform(data_test),columns=data_test.columns)

In [27]:
# Checing the data 
data_train.head()

,aa_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,ag_004,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,76698.0,2.130706e+09,280.000000,0.0,0.0,0.0,0.0,0.0,0.0,37250.0,...,1240520.0,493384.0,721044.0,469792.0,339156.0,157956.0,73224.0,0.0,0.0,0.0
1,33058.0,0.000000e+00,190620.639314,0.0,0.0,0.0,0.0,0.0,0.0,18254.0,...,421400.0,178064.0,293306.0,245416.0,133654.0,81140.0,97576.0,1500.0,0.0,0.0
2,41040.0,2.280000e+02,100.000000,0.0,0.0,0.0,0.0,0.0,0.0,1648.0,...,277378.0,159812.0,423992.0,409564.0,320746.0,158022.0,95128.0,514.0,0.0,0.0
3,12.0,7.000000e+01,66.000000,0.0,10.0,0.0,0.0,0.0,318.0,2212.0,...,240.0,46.0,58.0,44.0,10.0,0.0,0.0,0.0,4.0,32.0
4,60874.0,1.368000e+03,458.000000,0.0,0.0,0.0,0.0,0.0,0.0,43752.0,...,622012.0,229790.0,405298.0,347188.0,286954.0,311560.0,433954.0,1218.0,0.0,0.0

In [28]:
#checking total missing values training data 
data_train.isnull().sum().sum()

0

In [29]:
#checking total missing values testing data 
data_test.isnull().sum().sum()

0

### Feature Scaling

In [30]:
#Perform  Robust Scaling 
from sklearn.preprocessing import RobustScaler
sc=RobustScaler()
sc.fit(data_train)
X_train = pd.DataFrame(sc.transform(data_train), columns=data_train.columns)
X_test = pd.DataFrame(sc.transform(data_test),columns=data_test.columns)

In [31]:
X_train

,aa_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,ag_004,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,0.960028,1.278935e+06,-0.000954,0.0,0.0,0.0,0.0,0.0,0.0,0.626095,...,2.261903,1.758646,1.072027,0.690437,0.846543,0.660686,0.495567,0.000000,0.0,0.0
1,0.047707,-1.128451e-01,22.700535,0.0,0.0,0.0,0.0,0.0,0.0,0.269677,...,0.410601,0.293677,0.141387,0.124491,0.119836,0.216936,0.671102,0.633981,0.0,0.0
2,0.214575,2.400960e-02,-0.022422,0.0,0.0,0.0,0.0,0.0,0.0,-0.041897,...,0.085095,0.208878,0.425724,0.538523,0.781440,0.661067,0.653456,0.217244,0.0,0.0
3,-0.643141,-7.082833e-02,-0.026477,0.0,10.0,0.0,0.0,0.0,318.0,-0.031315,...,-0.541267,-0.533391,-0.496640,-0.494413,-0.352762,-0.251793,-0.032250,0.000000,4.0,32.0
4,0.629218,7.082833e-01,0.020276,0.0,0.0,0.0,0.0,0.0,0.0,0.748091,...,0.864006,0.533995,0.385051,0.381192,0.661943,1.548024,3.095798,0.514793,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,2.555212,2.857143e-01,-0.012165,0.0,0.0,0.0,0.0,0.0,2564.0,1.036062,...,1.714911,2.100125,2.310785,2.578265,3.253356,3.894568,6.445384,12.082840,0.0,0.0
59996,-0.595601,1.278935e+06,-0.007633,0.0,0.0,0.0,0.0,0.0,0.0,-0.070867,...,-0.517902,-0.502198,-0.450801,-0.321938,-0.352317,-0.251793,-0.032250,0.000000,0.0,0.0
59997,-0.641050,1.278935e+06,-0.032202,0.0,0.0,0.0,0.0,0.0,0.0,-0.072293,...,-0.540020,-0.531811,-0.495782,-0.494161,-0.352281,-0.236646,-0.032250,0.000000,0.0,0.0
59998,1.035163,1.278935e+06,0.024569,0.0,0.0,0.0,0.0,0.0,0.0,-0.066627,...,1.038803,0.500841,0.259033,0.074822,0.334791,0.701782,5.750783,164.168216,0.0,0.0
59999,0.197475,3.061224e-01,0.040551,0.0,0.0,0.0,0.0,0.0,0.0,-0.049815,...,0.452788,0.317539,0.252871,0.146314,0.443382,0.662696,1.195920,0.066779,0.0,0.0

In [32]:
X_train.shape, X_test.shape

((60000, 160), (16000, 160))

In [33]:
X_test

,aa_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,ag_004,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,-0.642137,-1.008403e-01,-0.032918,0.0,0.0,0.0,0.0,0.0,2682.0,0.016042,...,-0.539328,-0.532963,-0.495869,-0.492874,-0.352522,-0.251285,-0.032250,0.000000,0.0,0.0
1,-0.641677,-7.202881e-02,-0.029578,0.0,0.0,0.0,0.0,0.0,0.0,-0.058784,...,-0.539396,-0.532322,-0.493241,-0.494231,-0.352493,-0.249124,-0.032250,0.000000,0.0,0.0
2,0.736422,1.440576e-02,-0.020991,0.0,0.0,0.0,0.0,0.0,199486.0,25.417097,...,0.577117,1.233576,0.460845,0.185380,4.297448,0.635984,-0.028530,0.000000,0.0,0.0
3,0.607100,4.933974e-01,0.077285,0.0,0.0,0.0,0.0,0.0,0.0,2.252303,...,0.680503,0.596622,0.554766,0.729634,1.172656,0.961761,1.998040,1.366019,0.0,0.0
4,-0.605469,-1.920768e-02,-0.017652,0.0,0.0,0.0,0.0,0.0,0.0,-0.071467,...,-0.524529,-0.514351,-0.456589,-0.368958,-0.341566,-0.249009,-0.031702,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15995,1.067776,1.278935e+06,0.072038,0.0,0.0,0.0,0.0,0.0,0.0,0.030114,...,0.888068,0.735872,0.613624,0.448613,0.884324,1.584302,6.887841,10.805579,0.0,0.0
15996,-0.643015,-8.163265e-02,-0.028863,8.0,26.0,0.0,0.0,0.0,0.0,0.048089,...,-0.541208,-0.533400,-0.496666,-0.494489,-0.352790,-0.251793,-0.032250,0.000000,0.0,0.0
15997,1.021449,8.895558e-01,0.146699,0.0,0.0,0.0,0.0,0.0,0.0,0.209787,...,1.281720,1.556909,1.197745,0.972345,0.975057,1.035657,2.555035,8.262046,0.0,0.0
15998,-0.641092,-9.123649e-02,-0.030533,0.0,0.0,0.0,0.0,0.0,0.0,-0.069103,...,-0.540481,-0.532629,-0.496374,-0.493152,-0.349247,-0.244064,-0.031716,0.000000,0.0,0.0
15999,-0.643224,-1.092437e-01,-0.033872,2.0,2.0,0.0,0.0,0.0,0.0,-0.047489,...,-0.541706,-0.533558,-0.496661,-0.494489,-0.352649,-0.251527,-0.032250,0.000000,0.0,0.0

### Identify Bin Histogram

In [34]:
#Identify the bin and Count the Bin
from collections import Counter
Temp=[]

for item in X_train.columns:
    Temp.append(item.split('_')[0])
    counter=Counter(Temp)
feature_prefix=list(counter.keys())
print(feature_prefix)
number_bin=(list(counter.values()))
print(number_bin)

['aa', 'ac', 'ad', 'ae', 'af', 'ag', 'ah', 'ai', 'aj', 'ak', 'al', 'am', 'an', 'ao', 'ap', 'aq', 'ar', 'as', 'at', 'au', 'av', 'ax', 'ay', 'az', 'ba', 'bb', 'bc', 'bd', 'be', 'bf', 'bg', 'bh', 'bi', 'bj', 'bs', 'bt', 'bu', 'bv', 'bx', 'by', 'bz', 'ca', 'cb', 'cc', 'cd', 'ce', 'cf', 'cg', 'ch', 'ci', 'cj', 'ck', 'cl', 'cm', 'cn', 'co', 'cp', 'cq', 'cs', 'ct', 'cu', 'cv', 'cx', 'cy', 'cz', 'da', 'db', 'dc', 'dd', 'de', 'df', 'dg', 'dh', 'di', 'dj', 'dk', 'dl', 'dm', 'dn', 'do', 'dp', 'dq', 'dr', 'ds', 'dt', 'du', 'dv', 'dx', 'dy', 'dz', 'ea', 'eb', 'ec', 'ed', 'ee', 'ef', 'eg']
[1, 1, 1, 1, 1, 10, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 10, 10, 10, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 10, 1, 1, 1, 10, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 10, 1, 1]

In [35]:
## Identify Hitogram bin identifier
hist_identify=[]
for x,y in enumerate(number_bin):
    if y==10:
        hist_identify.append(feature_prefix[x])
print(hist_identify)

['ag', 'ay', 'az', 'ba', 'cn', 'cs', 'ee']

In [36]:
# Identify Histogram feature
Histogram_features=[z for z in X_train.columns if z.split('_')[0] in hist_identify]
print(Histogram_features)
print("The total number of feature", len(Histogram_features))

['ag_000', 'ag_001', 'ag_002', 'ag_003', 'ag_004', 'ag_005', 'ag_006', 'ag_007', 'ag_008', 'ag_009', 'ay_000', 'ay_001', 'ay_002', 'ay_003', 'ay_004', 'ay_005', 'ay_006', 'ay_007', 'ay_008', 'ay_009', 'az_000', 'az_001', 'az_002', 'az_003', 'az_004', 'az_005', 'az_006', 'az_007', 'az_008', 'az_009', 'ba_000', 'ba_001', 'ba_002', 'ba_003', 'ba_004', 'ba_005', 'ba_006', 'ba_007', 'ba_008', 'ba_009', 'cn_000', 'cn_001', 'cn_002', 'cn_003', 'cn_004', 'cn_005', 'cn_006', 'cn_007', 'cn_008', 'cn_009', 'cs_000', 'cs_001', 'cs_002', 'cs_003', 'cs_004', 'cs_005', 'cs_006', 'cs_007', 'cs_008', 'cs_009', 'ee_000', 'ee_001', 'ee_002', 'ee_003', 'ee_004', 'ee_005', 'ee_006', 'ee_007', 'ee_008', 'ee_009']
The total number of feature 70

### Feature Selection

In [37]:
# Importing necessary Libraries
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from mlxtend.feature_selection import SequentialFeatureSelector as SFS

In [38]:
numer_vars = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
numerical = list(X_train.select_dtypes(include=numer_vars).columns)
X_train =X_train[numerical]
X_train.shape

(60000, 160)

In [39]:
numer_vars= ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
numerical = list(X_test.select_dtypes(include=numer_vars).columns)
X_test =X_test[numerical]
X_test.shape

(16000, 160)

In [40]:
# removing corelated features
def corr(data, thres):
    col_corr = set()  # Set correlated columns
    corr_matrix = data.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if abs(corr_matrix.iloc[i, j]) > thres: # we are interested in absolute coeff value
                colname = corr_matrix.columns[i]  # getting the name of column
                col_corr.add(colname)
    return col_corr

In [41]:
corr_features= corr(X_train, 0.8)
print('correlated features for the dataset: ', len(set(corr_features)) )

correlated features for the dataset:  59

In [42]:
# removing corellated features features
X_train.drop(labels=corr_features, axis=1, inplace=True)
X_test.drop(labels=corr_features, axis=1, inplace=True)

X_train.shape, X_test.shape

((60000, 101), (16000, 101))

In [44]:
# Using step forward feature top 10 features for my model

from mlxtend.feature_selection import SequentialFeatureSelector as SFS

sfs = SFS(RandomForestRegressor(), 
           k_features=10, 
           forward=True, 
           floating=False, 
           verbose=2,
           scoring='r2',
           cv=3)

sfs = sfs.fit(np.array(X_train), y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   10.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done 101 out of 101 | elapsed:  9.2min finished

[2021-07-18 17:53:58] Features: 1/10 -- score: 0.20396666946339717[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    8.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed: 10.2min finished

[2021-07-18 18:04:08] Features: 2/10 -- score: 0.3841162719392761[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   12.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  99 out of  99 | elapsed: 19.6min finished

[2021-07-18 18:23:45] Features: 3/10 -- score: 0.5286505568576786[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   14.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  98 out of  98 | elapsed: 25.3min finished

[2021-07-18 18:49:06] Features: 4/10 -- score: 0.6085131793404791[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   21.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  97 out of  97 | elapsed: 35.8min finished

[2021-07-18 19:24:57] Features: 5/10 -- score: 0.6341746436768927[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   23.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  96 out of  96 | elapsed: 39.2min finished

[2021-07-18 20:04:10] Features: 6/10 -- score: 0.6517343131066089[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   34.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  95 out of  95 | elapsed: 56.2min finished

[2021-07-18 21:00:22] Features: 7/10 -- score: 0.665063271527319[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   38.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  94 out of  94 | elapsed: 61.4min finished

[2021-07-18 22:01:45] Features: 8/10 -- score: 0.6712481480704878[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   48.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  93 out of  93 | elapsed: 76.1min finished

[2021-07-18 23:17:53] Features: 9/10 -- score: 0.6791288601965491[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   51.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  92 out of  92 | elapsed: 81.6min finished

[2021-07-19 00:39:28] Features: 10/10 -- score: 0.6823432363367942

In [45]:
sfs.k_feature_idx_

(0, 6, 8, 12, 15, 24, 27, 54, 65, 89)

In [46]:
# Take selected top feature for train dataset
X_train_top_feature=X_train.columns[list(sfs.k_feature_idx_)]
X_train_top_feature

Index(['aa_000', 'ag_002', 'ag_005', 'ai_000', 'al_000', 'ay_002', 'ay_006',
       'cj_000', 'cs_007', 'dy_000'],
      dtype='object')

In [47]:
# Take selected top feature for test dataset
X_test_top_feature=X_test.columns[list(sfs.k_feature_idx_)]
X_test_top_feature

Index(['aa_000', 'ag_002', 'ag_005', 'ai_000', 'al_000', 'ay_002', 'ay_006',
       'cj_000', 'cs_007', 'dy_000'],
      dtype='object')

In [48]:
X_train_selected_feature=X_train[['aa_000', 'ag_002', 'ag_005', 'ai_000', 'al_000', 'ay_002', 'ay_006',
       'cj_000', 'cs_007', 'dy_000']].copy()

In [49]:
X_train_selected_feature

,aa_000,ag_002,ag_005,ai_000,al_000,ay_002,ay_006,cj_000,cs_007,dy_000
0,0.960028,0.0,1.326098,0.0,0.000000,0.0,3.229817,0.00,1.193590,0.000000
1,0.047707,0.0,0.497525,0.0,0.000000,0.0,0.469973,0.00,0.168074,0.000000
2,0.214575,0.0,0.197052,0.0,0.000000,0.0,0.547775,0.00,0.617744,0.000000
3,-0.643141,0.0,-0.193400,0.0,0.475379,0.0,-0.145148,0.00,-0.377928,0.578947
4,0.629218,0.0,1.893404,0.0,0.000000,0.0,1.549566,0.00,0.948760,363.000000
...,...,...,...,...,...,...,...,...,...,...
59995,2.555212,0.0,1.507158,0.0,0.906331,0.0,1.871444,0.00,1.796294,0.000000
59996,-0.595601,0.0,-0.091414,0.0,0.000000,0.0,-0.066244,0.00,-0.194933,0.263158
59997,-0.641050,0.0,-0.184515,0.0,0.000000,0.0,-0.145148,4221.12,-0.377451,0.000000
59998,1.035163,0.0,0.018392,0.0,0.000000,0.0,3.393394,106006.08,0.621684,0.000000
59999,0.197475,0.0,-0.147642,1926.0,0.000000,0.0,0.996373,0.00,0.104450,0.000000

In [50]:
X_test_selected_feature=X_test[['aa_000', 'ag_002', 'ag_005', 'ai_000', 'al_000', 'ay_002', 'ay_006',
       'cj_000', 'cs_007', 'dy_000']].copy()

In [51]:
X_test_selected_feature

,aa_000,ag_002,ag_005,ai_000,al_000,ay_002,ay_006,cj_000,cs_007,dy_000
0,-0.642137,0.0,-0.192730,0.0,1.125509,0.0,-0.145148,0.00,-0.241010,0.052632
1,-0.641677,0.0,-0.183450,0.0,0.000000,0.0,-0.145148,0.00,-0.248172,0.473684
2,0.736422,0.0,1.878315,0.0,57.680859,0.0,0.397167,0.00,-0.015041,932.894737
3,0.607100,0.0,0.849352,0.0,0.826361,0.0,0.723421,38633.28,1.624996,0.000000
4,-0.605469,0.0,-0.177782,0.0,0.000000,0.0,-0.086583,0.00,-0.259393,1.447368
...,...,...,...,...,...,...,...,...,...,...
15995,1.067776,0.0,0.551431,0.0,0.000000,0.0,2.940724,0.00,0.093348,90.184211
15996,-0.643015,0.0,-0.193319,0.0,0.851536,0.0,-0.145148,0.00,-0.377928,0.105263
15997,1.021449,0.0,1.919635,0.0,0.000000,0.0,2.324074,0.00,2.318064,100.342105
15998,-0.641092,0.0,-0.192871,0.0,0.000000,0.0,-0.145148,0.00,-0.247098,1.315789
15999,-0.643224,0.0,-0.193298,0.0,0.000000,0.0,-0.145148,0.00,-0.353338,0.052632

### Balancing the dataset

In [52]:
## Performing oversampling and importing the file
from imblearn.over_sampling import RandomOverSampler
from collections import Counter

In [53]:
## Performing oversampling
rs=RandomOverSampler(.75)
X_train_RS, y_train_RS=rs.fit_resample(X_train_selected_feature,y_train)
print("class before fit{}".format(Counter(y_train)))
print("class after fit{}".format(Counter(y_train_RS)))

class before fitCounter({1: 59000, 0: 1000})
class after fitCounter({1: 59000, 0: 44250})